#root {
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.card {
  padding: 2em;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.app-header {
  background-color: #589aea;
  height: 7vh;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  grid-template-columns: 50px 1fr;
}

.app-name {
  color: white;
  font-weight: bold;
  margin: 0px;
  font-size: 1.5em;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #b8b8b8;
  }
}
